:root{
  background-color: #fafafa;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.container h1{
  font-size: 2.3rem;
  color: #333333;
}
.linha{
  height: 40px; width: 300px;
  margin: 30px 0px;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #333333;
  border: 1px #333333 solid;
  cursor: pointer;
  background-color: burlywood;
}
input{
  margin: 30px 0px;
  width: 400px; height: 40px;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bolder;
  color: #333333;
  background-color: #fafafa;
}
button{
  width: 120px; height: 46px;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bolder;
  color: #333333;
  background-color: burlywood;
}
